<?xml version="1.0" encoding="UTF-8"?>

<launch>
    <node pkg="usb_cam" type="usb_cam_node" name="camera0"></node>
    <node pkg="ArmduinoRover" type="circle_detector" name="detector">
	<remap from="camera_raw" to="camera0/image_raw"/>
	</node>
     <node pkg="image_view" type="image_view" name="image_processed">
    	  <remap from="image" to="camera_hsv"/>
    </node>
	
</launch>
